=form_tag products_path, :method => 'get' do
	=text_field_tag :search, params[:search]
	=submit_tag 'search'

-@products.each do |product|
	%div 
		%h2
			=product.product_name
	%div
		=product.description
	=link_to 'Edit', edit_product_path(product)
	%br
	=link_to 'Delete', product_path(product),
		method: :delete,
		data: { confirm: 'Are you sure?'}
