.container-fluid
	%h2.center
		=link_to "Create New Product", new_product_path
	.col-lg-4.offset-md-4
		=form_tag products_path, :method => 'get' do
			.form-group.form-control-md
				=text_field_tag :search, params[:search]
				=submit_tag 'search', class: "btn"
	%br
	%h1.center List of all the Products
	-@products.each do |product|
		.col-lg-4.offset-md-4
			.frame.center
				%div
					%h2
						=product.product_name
				%div
					=product.description
				%h6
					=link_to 'edit', edit_product_path(product)
					||
					=link_to 'delete', product_path(product),
						method: :delete,
						data: { confirm: 'Are you sure?'}
