%h1 Orders

-@orders.each do |order|
	%br
	%h2
		=order.name
	%br
	%h3 
		This Order is for:
		=order.user.email
	%br
	-if order.user_id == current_user.id
		=link_to 'edit', edit_order_path(current_user)
		||
		=link_to 'delete', order_path(order[:id]),
						method: :delete,
						data: {confirm: "Delete order?"}
