!!! 5
%html
%head
	%title KDM - Test 
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
=render 'partials/logging'
%br
=link_to 'products', new_product_path
||
=link_to 'New Order', new_order_path
=notice
=alert
= yield
